In [1]:
import sqlite3
import pandas as pd
import os

This notebook serves the purpose of being a display of general SQL knowledge as part of a portfolio. An e-commerce dataset will be analysed as part of this project.
[Click here for dataset link.](https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce/data)

# Dataset

In [2]:
folder_path = '/kaggle/input/brazilian-ecommerce'

# initialize empty list to store summary information
summaries = pd.DataFrame(columns=['Table Name', 'rows', 'columns', 'missing values', 'columns with missing values'])

# For each csv file, extract relevant summaries
for files in os.listdir(folder_path):
    file_path = os.path.join(folder_path, files)
    df = pd.read_csv(file_path)
    num_rows = df.shape[0]
    num_cols = df.shape[1]
    num_missing_values = df.isnull().sum().sum()
    cols_with_missing_values = df.columns[df.isnull().any()].tolist()
    summary = [files, num_rows, num_cols, num_missing_values, cols_with_missing_values]
    summaries.loc[len(summaries)]=summary

In [3]:
# display the summaries
pd.set_option('display.max_colwidth', 500)
summaries

,Table Name,rows,columns,missing values,columns with missing values
0,olist_customers_dataset.csv,99441,5,0,[]
1,olist_sellers_dataset.csv,3095,4,0,[]
2,olist_order_reviews_dataset.csv,99224,7,145903,"[review_comment_title, review_comment_message]"
3,olist_order_items_dataset.csv,112650,7,0,[]
4,olist_products_dataset.csv,32951,9,2448,"[product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm]"
5,olist_geolocation_dataset.csv,1000163,5,0,[]
6,product_category_name_translation.csv,71,2,0,[]
7,olist_orders_dataset.csv,99441,8,4908,"[order_approved_at, order_delivered_carrier_date, order_delivered_customer_date]"
8,olist_order_payments_dataset.csv,103886,5,0,[]

From the summary, there are three tables with missing values, the order reviews table in particular has a very high number of missing values. For each of those tables, we will be looking at their columns to determine what is the portion of missing values in them.

In [4]:
# initialize empty list to store summary information for certain tables
col_summaries=pd.DataFrame(columns=['Table Name', 'Column name', 'missing values (%)'])

# extract the portion of null values in each column of the tables
for files in os.listdir(folder_path):
    if files in ('olist_order_reviews_dataset.csv', 'olist_products_dataset.csv', 'olist_orders_dataset.csv'):
        file_path = os.path.join(folder_path, files)
        df = pd.read_csv(file_path)
        for cols in df:
            table_name=files
            column_name=cols
            nulls=100*df[cols].isnull().sum()/len(df[cols])
            
            summary = [table_name, column_name, nulls]
            col_summaries.loc[len(col_summaries)]=summary

In [5]:
col_summaries

,Table Name,Column name,missing values (%)
0,olist_order_reviews_dataset.csv,review_id,0.000000
1,olist_order_reviews_dataset.csv,order_id,0.000000
2,olist_order_reviews_dataset.csv,review_score,0.000000
3,olist_order_reviews_dataset.csv,review_comment_title,88.341530
4,olist_order_reviews_dataset.csv,review_comment_message,58.702532
5,olist_order_reviews_dataset.csv,review_creation_date,0.000000
6,olist_order_reviews_dataset.csv,review_answer_timestamp,0.000000
7,olist_products_dataset.csv,product_id,0.000000
8,olist_products_dataset.csv,product_category_name,1.851234
9,olist_products_dataset.csv,product_name_lenght,1.851234
10,olist_products_dataset.csv,product_description_lenght,1.851234
11,olist_products_dataset.csv,product_photos_qty,1.851234
12,olist_products_dataset.csv,product_weight_g,0.006070
13,olist_products_dataset.csv,product_length_cm,0.006070
14,olist_products_dataset.csv,product_height_cm,0.006070
15,olist_products_dataset.csv,product_width_cm,0.006070
16,olist_orders_dataset.csv,order_id,0.000000
17,olist_orders_dataset.csv,customer_id,0.000000
18,olist_orders_dataset.csv,order_status,0.000000
19,olist_orders_dataset.csv,order_purchase_timestamp,0.000000
20,olist_orders_dataset.csv,order_approved_at,0.160899
21,olist_orders_dataset.csv,order_delivered_carrier_date,1.793023
22,olist_orders_dataset.csv,order_delivered_customer_date,2.981668
23,olist_orders_dataset.csv,order_estimated_delivery_date,0.000000

As seen in the summary, the null values mostly come from columns pertaining to written reviews. This may limit the ability to do nautral language processing on this dataset but will not be too relevant for exploratory data analysis.

# Export csv files to SQLite engine

In [6]:
df_customers = pd.read_csv('/kaggle/input/brazilian-ecommerce/olist_customers_dataset.csv')
df_sellers = pd.read_csv('/kaggle/input/brazilian-ecommerce/olist_sellers_dataset.csv')
df_order_reviews= pd.read_csv('/kaggle/input/brazilian-ecommerce/olist_order_reviews_dataset.csv')
df_order_items= pd.read_csv('/kaggle/input/brazilian-ecommerce/olist_order_items_dataset.csv')
df_products= pd.read_csv('/kaggle/input/brazilian-ecommerce/olist_products_dataset.csv')
df_geolocation= pd.read_csv('/kaggle/input/brazilian-ecommerce/olist_geolocation_dataset.csv')
df_category_name_translation= pd.read_csv('/kaggle/input/brazilian-ecommerce/product_category_name_translation.csv')
df_orders = pd.read_csv('/kaggle/input/brazilian-ecommerce/olist_orders_dataset.csv')
df_order_payments= pd.read_csv('/kaggle/input/brazilian-ecommerce/olist_order_payments_dataset.csv')

In [7]:
# create a sqlite engine using sqlalchemy
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

# export dataframes to sqlite engine as tables
df_customers.to_sql("customers", con =engine)
df_sellers.to_sql("sellers", con =engine)
df_order_reviews.to_sql("order_reviews", con =engine)
df_order_items.to_sql("order_items", con =engine)
df_products.to_sql("products", con =engine)
df_geolocation.to_sql("geolocation", con =engine)
df_category_name_translation.to_sql("product_category_name_translation", con =engine)
df_orders.to_sql("orders", con =engine)
df_order_payments.to_sql("order_payments", con =engine)

103886

# SQL Analysis

In [8]:
sql='''

WITH reviews as 
(SELECT o.order_id, r.review_id, r.review_score FROM
order_reviews r JOIN orders o 
ON r.order_id=o.order_id),

order_details as
(SELECT i.seller_id, reviews.order_id, reviews.review_id, reviews.review_score FROM
reviews JOIN order_items i
ON reviews.order_id=i.order_id)

SELECT seller_id AS "Seller ID", COUNT(distinct review_id) AS "Total Reviews", 
ROUND(AVG(review_score),2) AS "Average Ratings" FROM order_details
GROUP BY seller_id
HAVING COUNT(distinct review_id)>200
ORDER BY "Average Ratings" DESC
LIMIT 10

''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql=df_sql.style.set_caption("Highest Rated sellers on the Olist Store")
df_sql

In [9]:
sql='''

WITH reviews as 
(SELECT o.order_id, r.review_id, r.review_score FROM
order_reviews r JOIN orders o 
ON r.order_id=o.order_id),

order_details as
(SELECT i.seller_id, reviews.order_id, reviews.review_id, reviews.review_score FROM
reviews JOIN order_items i
ON reviews.order_id=i.order_id)

SELECT seller_id AS "Seller ID", COUNT(distinct review_id) AS "Total Reviews", 
ROUND(AVG(review_score),2) AS "Average Ratings" FROM order_details
GROUP BY seller_id
HAVING COUNT(distinct review_id)>200
ORDER BY "Average Ratings" ASC
LIMIT 10

''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql=df_sql.style.set_caption("Lowest Rated Sellers on the Olist Store")
df_sql

In [10]:
sql='''

WITH order_details as
(SELECT i.order_id, i.seller_id, i.price AS Revenue, o.order_purchase_timestamp
FROM order_items i join orders o
ON i.order_id=o.order_id),

running_total_revenue AS
(SELECT seller_id, order_purchase_timestamp,
SUM(Revenue) OVER (PARTITION BY seller_id ORDER BY order_purchase_timestamp) AS rev_run_total,
SUM(Revenue) OVER (PARTITION BY seller_id) AS current_rev
FROM order_details)

SELECT seller_id as "Seller ID", MIN(order_purchase_timestamp) as "Date Achieved $100k",  current_rev as "Current Total Revenue" 
FROM running_total_revenue r
WHERE rev_run_total >=100000
GROUP BY seller_id
ORDER by "Date Achieved $100k" ASC


''';

df_sql = pd.read_sql_query(sql,con=engine)
df_sql=df_sql.style.set_caption("Fastest Sellers to Achieve $100k in sales")
df_sql

In [11]:
sql='''

WITH order_details as 
(SELECT i.order_id, o.customer_id, o.order_purchase_timestamp, i.price AS revenue
FROM order_items i join orders o
ON i.order_id=o.order_id),

customer_details as
(SELECT o.customer_id, o.order_id, CONCAT(strftime('%Y', o.order_purchase_timestamp),'-',strftime('%m', order_purchase_timestamp)) as purchase_month, o.revenue, c.customer_city, c.customer_state
FROM customers c join order_details o
ON c.customer_id=o.customer_id),

cities_ranked as
(SELECT purchase_month, customer_city, customer_state, 
ROW_NUMBER() OVER (PARTITION BY purchase_month ORDER BY revenue DESC) AS rank FROM
customer_details 
GROUP BY purchase_month, customer_city
)

SELECT purchase_month as "Month", 
MAX(CASE WHEN rank = 1 THEN customer_city END) AS "Top City",
MAX(CASE WHEN rank = 2 THEN customer_city END) AS "Second City",
MAX(CASE WHEN rank = 3 THEN customer_city END) AS "Third City",
MAX(CASE WHEN rank = 4 THEN customer_city END) AS "Fourth City",
MAX(CASE WHEN rank = 5 THEN customer_city END) AS "Fifth City"
FROM cities_ranked
GROUP BY purchase_month

''';


df_sql = pd.read_sql_query(sql,con=engine)
df_sql=df_sql.style.set_caption("Cities with the Most Revenue by Month")
df_sql

In [12]:
sql='''

WITH product_details as
(SELECT product_id, product_category_name_english AS product_category
FROM products p join product_category_name_translation t
ON p.product_category_name=t.product_category_name),

order_details as
(SELECT o.order_id, o.product_id, p.product_category, o.price
FROM product_details p join order_items o
ON p.product_id=o.product_id)

SELECT product_category, SUM(price) AS revenue, 100*SUM(price)/(SELECT SUM(price) FROM order_details) AS percent_revenue
FROM order_details 
GROUP BY product_category ORDER BY percent_revenue DESC
LIMIT 10

''';


df_sql = pd.read_sql_query(sql,con=engine)
df_sql=df_sql.style.set_caption("Revenue and Percentage of Revenue by Product Category")
df_sql

In [13]:
sql='''

SELECT DISTINCT
seller_id, SUM(price) OVER (PARTITION BY seller_id) AS sales,
COUNT(order_id) OVER (PARTITION BY seller_id) AS orders_fulfilled,
100*(SUM(price) OVER (PARTITION BY seller_id) / (SELECT SUM(price) FROM order_items)) AS market_share
FROM order_items
WHERE seller_id IS NOT NULL
ORDER BY sales DESC
LIMIT 20

''';

df_sql = pd.read_sql_query(sql,con=engine)
df_sql=df_sql.style.set_caption("Sellers by Sales, Orders, and Total Market Share of Sales")
df_sql